@using VideoGameLibrary.Web.ViewModels.Moderator
@model ModeratorApplicationViewModel
<link rel="stylesheet" href="~/css/dark.css" asp-append-version="true" />

<h2>Moderator Application</h2>

<form asp-controller="Moderator" asp-action="Become" method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <div class="mb-3">
        <label asp-for="@Model.PhoneNumber" class="form-label-add-edit">Phone Number (required):</label>
        <input asp-for="@Model.PhoneNumber" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.Nickname" class="form-label-add-edit">Nickname</label>
        <input asp-for="@Model.Nickname" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.Nickname" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.AboutMe">Tell us about yourself:</label>        
        <textarea asp-for="AboutMe" class="form-control" rows="5" placeholder="Share your experience, interests, and why you'd make a great moderator"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Apply to Become a Moderator</button>
</form>