@using VideoGameLibrary.Web.ViewModels.Game.VideoGameLibrary.Web.ViewModels.Game
<link rel="stylesheet" href="~/css/dark.css" asp-append-version="true" />

@model GameFormModel

@{
    ViewData["Title"] = "Edit Game";
}

<h2 class="text-center">Edit Game</h2>


<form asp-controller="Game" asp-action="Edit" method="post">
    <div class="mb-3">
        <label asp-for="@Model.Title" class="form-label-add-edit">Title</label>
        <input asp-for="@Model.Title" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.Description" class="form-label-add-edit">Description</label>
        <input asp-for="@Model.Description" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.CoverImg" class="form-label-add-edit">Cover Image</label>
        <input asp-for="@Model.CoverImg" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.CoverImg" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.Developer" class="form-label-add-edit">Developer</label>
        <input asp-for="@Model.Developer" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.Developer" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="@Model.Publisher" class="form-label-add-edit">Publisher</label>
        <input asp-for="@Model.Publisher" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.Publisher" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="@Model.ReleaseDate" class="form-label-add-edit">Release Date</label>
        <input asp-for="@Model.ReleaseDate" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.ReleaseDate" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label asp-for="@Model.Price" class="form-label-add-edit">Price</label>
        <input asp-for="@Model.Price" class="form-control" aria-required="true" />
        <span asp-validation-for="@Model.Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PlatformId">Platform</label>
        <select asp-for="PlatformId" class="form-control">
            @foreach (var category in Model.Platform)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span asp-validation-for="PlatformId" class="small text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="GenreId">Genre</label>
        <select asp-for="GenreId" class="form-control">
            @foreach (var category in Model.Genre)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span asp-validation-for="GenreId" class="small text-danger"></span>
    </div>

    <!-- Additional fields wrapped in collapsible section -->
    <button type="button" class="btn btn-secondary mb-3 mt-3" data-bs-toggle="collapse" data-bs-target="#optionalDetails">
        Additional Fields
    </button>

    <div class="collapse" id="optionalDetails">
        <div class="mb-3">
            <label asp-for="@Model.Rating" class="form-label-add-edit">Rating</label>
            <input asp-for="@Model.Rating" class="form-control" aria-required="true" />
            <span asp-validation-for="@Model.Rating" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.NumberOfStars" class="form-label-add-edit">Number of Stars</label>
            <select asp-for="@Model.NumberOfStars" class="form-select" aria-required="true">
                <option value="1">1</option>
                <option value="1.5">1.5</option>
                <option value="2">2</option>
                <option value="2.5">2.5</option>
                <option value="3">3</option>
                <option value="3.5">3.5</option>
                <option value="4">4</option>
                <option value="4.5">4.5</option>
                <option value="5">5</option>
            </select>
            <span asp-validation-for="@Model.NumberOfStars" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>