@using VideoGameLibrary.Web.ViewModels.Game
@model IEnumerable<AllGamesViewModel>
<link rel="stylesheet" href="~/css/dark.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/collection.css" asp-append-version="true" />

<section class="deleted-games">
    <h1>Deleted Games</h1>

    <div class="games-container">
        @if (Model.Any())
        {
            @foreach (var game in Model)
            {
                <article class="game-card">
                    <a href="@Url.Action("Details", "Game", new { id = game.Id })" class="card-image-link">
                        <img src="@game.CoverImg" alt="Cover Image" class="card-image" />
                    </a>
                    <div class="game-details">
                        <h2>@game.Title</h2>
                        <ul>
                            <li><strong>Price:</strong> @(game.Price == 0.00m ? "Free-to-play" : "$" + game.Price.ToString())</li>
                            <li><strong>Developer:</strong> @game.Developer</li>
                            <li><strong>Publisher:</strong> @game.Publisher</li>
                            <li><strong>Release Date:</strong> @game.ReleaseDate</li>
                        </ul>
                    </div>
                    <div class="game-actions">
                        <form method="post" asp-controller="Game" asp-action="Restore">
                            <input type="hidden" name="id" value="@game.Id" />
                            <button type="submit" class="btn btn-primary">Restore</button>
                        </form>
                    </div>
                </article>
            }
        }
        else
        {
            <p class="no-games">No games were deleted from the library.</p>
        }
    </div>
</section>